<!-- app/views/inquiries/_form.html.erb -->
 
<%= form_for inquiry do |f| %>
  <% if inquiry.errors.any? %>
    <hr>
	<ul class="error_msg">
      <% inquiry.errors.full_messages.each do |msg| %>
        <li> <%= msg %></li>
      <% end %>
    </ul>
	<hr>
  <% end %>
  
	<div class="form-group">
	   <%= f.label :name %>
	   <%= f.text_field :name, class: "form-control" %>
	</div>
	<div style="display: none;"> <!-- catch for robots; not to be touched //-->
		<%= f.label :surname %>
		<%= f.text_field :surname %>
	</div>
	<div class="form-group">
		<%= f.label :email %>
		<%= f.text_field :email, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :message %>
		<%= f.text_area :message, class: "form-control" %>
	</div>
  <p class="help-block">
	The message is limited to 1000 characters
  </p>

  <%= f.submit "Send", class: "btn btn-primary" %>
  
  
<% end %>